// common styles
* {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

//including fonts
@font-face{
	font-family: "verdana bold";
	src: urL("../fonts/verdana-bold/verdanab.eot");
	src: url("../fonts/verdana-bold/verdanab.eot") format('embedded-opentype'),
		url("../fonts/verdana-bold/Verdana-Bold.woff"),
		url("../fonts/verdana-bold/Verdana-Bold.ttf");
}
@font-face{
	font-family: "verdana regular";
	src: url("../fonts/verdana-regular/VERDANA.TTF.eot"),
		url("../fonts/verdana-regular/Verdana.woff "),
		url("../fonts/verdana-regular/Verdana.ttf");
}
//header
header {
    .bg {
        background-image: url('../img/head-bg.jpg');
        background-size: cover;
        padding-bottom: 260px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .nav-wraper {
            display: flex;
            justify-content: space-between;
            padding-top: 70px;
        }

        .logo {
            font-family: "Verdana Bold", tahoma;
            font-size: 32px;
            color: #fe504f;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 5px;
        }

        .menu-wraper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li {
             position: relative;
                padding: 20px 25px;
                 
                a {
                                      font-family: "Verdana Regular", tahoma;
                    font-size: 18px;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding-bottom: 10px;
                    overflow: hidden;
                    text-decoration: none;
                }
                &::after{
			position: absolute;
                      	bottom: -10px;
                        left: 50%;
                        content: "";
                        height: 0px;
                        width: 0%;
                        background-color: #fe504f;
				transition: width 0.4s;
                }
                  &:hover{
                   &::after {
                        position: absolute;
                      	bottom: 0px;
                        left: 0%;
                        content: "";
                        height: 2px;
                        width: 100%;
                        background-color: #fe504f;
                      
                    }
                      }         
            }
        }

        .header-head {
            font-family: "verdana bold", tahoma;
            font-size: 60px;
            color: #ffffff;
            text-transform: capitalize;
            font-weight: 400;
            max-width: 680px;
            text-align: left;
            margin-top: 160px;
            margin-bottom: 45px;
            line-height: 74px;
        }

        .header-desc {
            font-family: "Verdana Regular", tahoma;
            font-size: 20px;
            line-height: 28px;
            text-align: left;
            color: #fff;
            max-width: 520px;
            margin-bottom: 50px;
        }

        .btn-wraper {
            display: flex;
            justify-content: flex-start;

            .btn {
                width: 215px;
                padding: 25px 0;
                font-family: "Verdana Regular", tahoma;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                border-radius: 30px;
                text-align: center;

            }

            .get-btn {
                background-color: #fe504f;
                margin-right: 30px;
            }

            .learn-btn {
                background-color: #343434;
            }
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5px 70px 5px;

    .service-head {
        font-family: "Verdana bold";
        font-size: 24px;

        text-transform: uppercase;
        color: #343434;
        margin-bottom: 30px;
    }

    .service-desc {
        font-family: "Verdana regular";
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        max-width: 915px;
        color: #adadad;
        margin-bottom: 67px;
    }

    .container {

        max-width: 1155px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .block {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            width: 225px;

            .block-head {
                width: 100%;
                position: relative;
                font-family: "verdana bold";
                font-size: 16px;
                text-transform: capitalize;
                text-align: center;
                font-weight: bold;
                line-height: 24px;
                color: #343434;
                margin-bottom: 20px;
                margin-top: 17px;
                max-width: 200px;

                &:after {
                    position: absolute;
                    bottom: -10px;
                    left: 70px;
                    content: "";
                    height: 3px;
                    width: 60px;
                    background-color: #fe504f;
                }
            }

            .block-desc {
                font-family: "verdana regular";
                font-size: 14px;
                line-height: 24px;
                width: 100%;
                text-align: center;
                color: #aeaeae;
                margin-bottom: 60px;
            }
        }

    }
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 110px 5px 95px 5px;
    background-image: url("../img/contact-bg.jpg");
    background-size: cover;

    .contact-head {
        font-family: "verdana bold";
        font-size: 34px;
        line-height: 58px;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        max-width: 1123px;
        margin-bottom: 40px;
    }

    .contact-btn {
        display: block;
        font-family: "verdana regular";
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #fe504f;
        padding: 23px 5px 27px 5px;
        width: 215px;
        border-radius: 29px;
        transition: 0.4s;

        &:hover {
            transform: scale(1.1);
            background-color: #cb4443;
        }

    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 5px;

    .about-head {
        font-family: "verdana bold";
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 35px;
        width: 100%;

    }
    .about-desc {
        font-family: "verdana regular";
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #afafaf;
        max-width: 875px;
        margin-bottom: 80px;
    }

    .fx-container {
        display: flex;       
        justify-content: space-between;
        max-width: 1205px;
    }

    .content-head {
        font-family: "verdana bold";
        font-size: 20px;
        color: #fe504f;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 45px;

        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 50px;
            height: 3px;
            background-color: #fe504f;
        }
    }

    .content-desc {
        font-family: "verdana regular";
        font-size: 14px;
        line-height: 24px;
        color: #343434;
        text-align: left;
        max-width: 575px;
        margin-right: 60px;
    }
    .content-container {
        width: 49%;
        .slider-wraper {
            display: flex;
            justify-content: space-between;
         width: 100%;
            height: 375px;
            overflow: hidden;
            .slide {
            	min-width: 100%;
                img{
                	height: 49%;
                	width: 32%;
                }
            }
        }
         .indicators-wraper{
            	display: flex;
            	justify-content: center;
            	.indicator{
            		width: 35px;
            		height: 4px;
            		margin: 20px 3px;
            		background-color: #c9c9c9;
            		cursor: pointer;
            	}
            	.active{
            		background-color: #fe504f;
            	}
            }
    }
    .team-wraper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .prof-wraper {
            overflow: hidden;

            &:hover .info-wraper {
                transform: translateY(-102%);
            }

            .info-wraper {
                height: inherit;
                width: inherit;
                transition: 0.4s;
                overflow: hidden;
                padding: 20px 20px;
                background-color: #fe504f;
                color: #fff;
                .user-name {
                    position: relative;
                    font-family: "verdana bold", tahoma;
                    font-size: 32px;
                    text-transform: capitalize;
                    font-weight: bold;
                    margin-bottom: 45px;
              
                &:after {
                    content: "";
                    position: absolute;
                    top: 100px;
                    left: 0px;
                    width: 140px;
                    height: 2px;
                    background-color: #e84545;
                }  }
                .user-job {
                    font-family: "verdana bold", tahoma;
                    font-size: 12px;
                    line-height: 24px;
                    font-weight: bold;
                    text-transform: capitalize;

                }

                .user-desc {
                    font-family: "verdana regular", tahoma;
                    font-size: 12px;
                    line-height: 24px;
                    text-transform: capitalize;
                }

            }
        }
    }
}

.we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 5px;
    background-image: url("../img/dots1.jpg");
    background-size: cover;

    .play-btn {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        background-color: #fe504f;
        margin-bottom: 40px;
    }

    .we-do-head {
        font-family: "vredana bold", helvetica;
        font-size: 34px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .we-do-desc {
        font-family: "verdana regular", tahoma;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        max-width: 1008px;
        color: #ffffff;
    }
}
.news{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:80px 5px;
	.news-head{	
		font-family: "verdana bold",  tahoma;
		font-size: 24px;
		color: #343434;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;

	}
	.news-desc{
		font-family: "verdana regular", tahoma;
		font-size: 16px;
		line-height: 24px;
		color: #afafaf;
		text-align: center;
		max-width: 1090px;
		margin-bottom: 80px;
	}
	.fx-container{
		max-width: 1200px;
		margin: 0 auto;
		.block{
			display: flex;
			.sm-img{
				width: 25%;
			}
			.lg-img{
				width: 50%;
			}
			}	.arow-left{
				&:after{
					content:"";
					position: absolute;
					top: 30px;
					left: -45px;
					border-top: 45px solid transparent;
					border-bottom: 45px solid transparent;
					border-right: 45px solid #343434;

				}
	}
	.arow-right{
		&:after{
			content: "";
			top: 30px;
			right: -45px;
			position: absolute;
			width: 0;
			height: 0;
			border-top: 45px solid transparent;
			border-bottom: 45px solid transparent;
			border-left: 45px solid #343434;
	}}
	.arow-top{
		&:after{
		content: "";
		position: absolute;
		top: -45px;
		right: 30px;
		height: 0;
		width: 0;
		border-left: 45px solid transparent;
		border-right: 45px solid transparent;
		border-bottom: 45px solid #343434;
	}
	}
		.desc-wraper{
				position: relative;
				padding: 30px 30px;
				background-color: #343434;
				width: 25%;		
				.news-block-head{
					position: relative;
					font-family: "verdana bold", tahoma;
					font-size: 20px;
					font-weight: bold;
					line-height: 26px;
					text-align: left;
					text-transform: uppercase;
					color: #fe504f;
					margin-bottom: 35px;
					&:after{
			content: "";
			position: absolute;
			bottom: -15px;
			left: 0;
			height: 3px;
			width: 50px;
			background-color: #fe504f;
		}
				}
				.news-text{
					font-family: "verdana refgular", tahoma;
					font-size: 12px;
					line-height: 20px;
					text-align: left;
					color: #ffffff;
					margin-bottom: 50px;
				}
				.news-date{
					font-family: "verdana italic", tahoma;
					font-size: 12px;
					font-style: italic;
					line-height: 20px;
					text-align: right;
					color: #fe504f;
				
			}

		}.news-img{
				// height: 300px;
			}

}
}
.form-contact{
	padding: 98px 10px 55px 10px;
	background-image: url("../img/form-contact.jpg");
	background-size: cover;
	.fx-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 1200px;
		margin: 0 auto;
	.block{
		max-width: 500px;
	}
	.contact-head{
		font-family: "verdana bold",tahoma;
		font-size: 32px;
		font-weight: bold;
		color: #fe504f;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	.contact-desc{
		position: relative;
		font-family: "verdana regular", tahoma;
		font-size: 14px;
		line-height: 20px;
		text-align: left;
		color: #ffffff;
		max-width: 500px;
		margin-bottom: 70px;
		&:after{
		content: "";
		position: absolute;
		bottom: -30px;
		left: 0;
		height: 3px;
		width: 50px;
		background-color: #b94443;}
	}
	.contacts-wraper{
		font-family: "verdana bold", tahoma;
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		margin-bottom: 15px;
		margin-left: 35px;
		color: #ffffff;
		li{
			padding: 7px 0;
			display: flex;

			align-items: center;
			img{
				margin-right: 10px;
			}
		}
	}
	
	


	//form 
	.form-head{
		position: relative;
		font-family: "verdana bold", tahoma;
		font-size: 24px;
		font-weight: bold;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 40px;
		color: #fe504f;
		&:after{
			content:"";
			position: absolute;
			bottom: -15px;
			left: 0;
			height: 3px;
			width: 50px;
			background-color: #b94443;
		}

	}
	.form-desc{
		font-family: "verdana regular", tahoma;
		font-size: 14px;
		color: #ffffff;
		text-align: left;
		margin-bottom: 40px;
	}
	input,textarea{
		font-family: "verdana regular", tahoma;
		font-size: 14px;
		color: #afafaf;
		border: 1px solid #5a5958;
		background: none;
		outline: none;
		width: 100%;
		margin-bottom: 15px;
		padding: 17px 15px;
		transition: 0.4s;
		resize: none;
		&:focus{
			background-color: rgba(255,255,255,0.2);
	}
}
#snd-btn{
	font-family: "verdana regular", tahoma;
	font-size: 16px;
	color: #ffffff;
	padding: 13px 10px;
	text-align: center;
	text-transform: capitalize;
	cursor: pointer;
	width: 130px;
	background-color: #fe504f;
	border-radius: 17px;
	transition: 0.4s;
	&:hover{
	background-color: #bc4a49;
}
&:active{
	transform: scale(0.9);
}
}
}
}
footer{
	padding: 40px 5px;
	background-color: #343434;
	.fx-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		.copyright{
			font-family: "verdana bold", tahoma;
			font-size: 12px;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		.social{
			display: flex;
			justify-content: space-between;
			li{
				padding: 5px 15px;
				border-right: 2px solid #fe504f;
				&:last-child{
					border-right: none;
				}
			}
		}
	}
}
// media queries
@media screen and (max-width: 1160px){
header .container{
	padding: 0 20px;
	.header-head{
		
	}
	.header-desc{
	
	}
}
.about{
	padding: 80px 20px;
}
.about{

	.fx-container{
		justify-content: center;
		flex-wrap: wrap;
		.content-container{
			.content-head,.content-desc{
				
				max-width: 100%;
				margin-bottom: 55px;
				margin-right: 0;
			
		}
	}
	.slider-wraper{
		margin: 30px auto;
	}
}
}}
@media screen and (max-width: 900px){
	header{
		.container{
		.header-head{
			font-size: 40px;
			line-height: 45px;
		}
	}
}
	.about{
		.fx-container{
			flex-direction: column;
			justify-content: center;
			.content-container{
				width: 96%;
			
				.slider-wraper{
					width: 90%;
					
				}

			}
		}
	}
	.news{
	.fx-container{
		.block{
			flex-direction: column;
			.lg-img{
				width: 100%;
			}
			.sm-img{
				width: 100%;
			}
			.desc-wraper{
				width: 100%;
			}
			.arow-left,.arow-right{
				&:after{
					top: -80px;
					left: 45px;
					border-left: 45px solid transparent;
					border-right: 45px solid transparent;
					border-bottom: 45px solid #343434;
				}
			}
		}
	}}
}
@media screen and (max-width:800px) {
    header {
        .container {
        	
        	}
            .menu-wraper {
                position: absolute;
                right: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-color: rgba(0, 0, 0, 0.7);
                flex-direction: column;
                transition: 0.4s;
                transform: translateX(-100%);
                li {
                    padding: 10px 30px;
                    text-align: center;
                }
            }

            .active {
                transform: translateX(0);
            }

            .responsive-btn {
            	position: relative;
                padding: 5px 5px;
                border: 2px solid #fff;
                border-radius: 10px;
                margin-right: 5px;
                height: 45px;
                width: 45px;

                .row {
                
                    width: 100%;
                    height: 3px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    background-color: #fff;
                    transition: width,opacity,0.4s; 
                }
            }
            .clicked{
        		.row{
        				position: absolute;
        			&:nth-child(1){
        				top: 14px;
        				left: 6px;
        				width: 70%;
        				transform: skewY(-45deg);
        			}
        			&:nth-child(2){
        				opacity: 0;
        			}
        			&:nth-child(3){
        				top: 14px;
        				left: 6px;
        				width: 70%;
        				transform: skewY(45deg);
        			}
        		}

        }
    }
}
@media screen  and (max-width: 550px){
	header{
		.container{
			.header-head{
				font-size: 25px;
			}
		}
	}
	.contact{
		.contact-head{
			font-size: 25px;
			line-height: 35px;
		}
	}
	.we-do{
		.we-do-head{
			font-size: 25px;
			line-height: 35px;
		}
	}
	
	.about{
		.fx-container{
			.content-container{
				.slider-wraper{
					height: auto;
					.slide{
						img{
							height: auto;
						}
					}
				}
			}
		}
	}
	footer{
		.fx-container{
			justify-content: center;

		}
	}
}